<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="app sidebar-mini rtl">
<div th:include="managerCommon :: ManagerCommon"></div>
<main class="app-content">
    <div th:include="managerCommon :: contentTitle"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">

                </div>
            </div>
        </div>
    </div>

</main>
<!-- Essential javascripts for application to work-->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>