<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>****asdfasdfasdfasdf****</title>
		<link href="css/bootstrap.min.css" rel="stylesheet"/>
		<link href="css/bootstrap-theme.min.css" rel="stylesheet"/>
	</head>
	<body>
		<!-- 头部 (应该导入) -->
	    <nav class="navbar navbar-static-top navbar-default">
	      <div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="http://10.1.54.67:8082">
	          	<img src="img/logo-h-word.png" />
	          </a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <form class="navbar-form navbar-right" id="logForm">
	            <div class="form-group">
	              <input type="text" placeholder="用户名" class="form-control" name="username">
	            </div>
	            <div class="form-group">
	              <input type="password" placeholder="密码" class="form-control" name="password">
	            </div>
	            <button type="submit" class="btn btn-success">登陆</button>
	            <button type="button" class="btn btn-info">注册</button>
	          </form>
	        </div><!--/.navbar-collapse -->
	      </div>
	    </nav>
    
		<!-- 头部 over-->
			
		<!-- 文章详情 文章内容动态生成，等待有空后，转为静态化页面 -->	
		<div class="container">
			<!-- 文章标题 -->
			<div class="title">
				<!-- 标题 -->
				<h3>我喜欢的古诗。。。</h3><br />
				<!-- 小字内容 -->
				<h5>2018-02-07 10:15:26</h5> <!-- 时间 -->
				<h5>&nbsp;view:&nbsp;13</h5><!-- 点击数 -->
			</div>
			
			<!-- 文章内容 -->
			<div class="content">
				君不見，黃河之水天上來，奔流到海不復回。
				君不見，高堂明鏡悲白髮，朝如青絲暮成雪。
				人生得意須盡歡，莫使金樽空對月。
				天生我材必有用，千金散盡還複來。
				烹羊宰牛且為樂，會須一飲三百杯。
				岑夫子，丹丘生，將進酒，杯莫停。
				與君歌一曲，請君為我傾耳聽。
				鐘鼓饌玉不足貴，但願長醉不復醒。
				古來聖賢皆寂寞，惟有飲者留其名。
				陳王昔時宴平樂，鬥酒十千恣歡謔。
				主人何為言少錢，徑須沽取對君酌。
				五花馬，千金裘，呼兒將出換美酒，與爾同銷萬古愁。
	
			</div>
		</div>
		<!-- 脚部 (应该导入) -->
		<!-- 友情链接 -->
		<div class="container">
		<div class="friendUrl">友情链接</div>
		<a href="#">链接A</a>
		<a href="#">链接B</a>
		<!-- 脚部信息 -->
		<footer class="panel-footer">
			
			<div class="footSpan">
			
				<span>看山网络@Company LookMountain 2017-2027 IPC.RPC</span><br>
				<span>网络经营许可证:GB/S:ICA98547344-5484CT-448S</span><br>
				<span>地址:上海市54公路1708号</span><br>
				
			</div>
		</footer>
		</div>
		<!-- 脚部 over-->
		
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
