<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<title th:text="${article.articleTitle}"></title>
		<link href="/css/bootstrap.css" rel="stylesheet"/>
		<link href="/css/bootstrap-theme.css" rel="stylesheet"/>
	</head>
	<body>
	<div th:include="head"></div>
			
		<!-- 文章详情 文章内容动态生成，等待有空后，转为静态化页面 -->	
		<div class="container">
			<!-- 文章标题 -->
			<div class="title">
				<!-- 标题 -->
				<h3 th:text="${article.articleTitle}"></h3><br />
				<!-- 小字内容 -->
				<h5 th:text="${article.articlePublishTime}"></h5> <!-- 时间 -->
				<h5 >&nbsp;view:&nbsp;<span th:text="${article.articleCountView}"></span></h5><!-- 点击数 -->
			</div>

			<br><br><br>
			<!-- 文章内容 -->
			<div class="content" th:utext="${article.articleContent}"></div>
			<br><br><br>
		</div>
		<!-- 脚部 (应该导入) -->
		<!-- 友情链接 -->
		<div class="container">
		<div class="friendUrl">友情链接</div>
		<a href="#">链接A</a>
		<a href="#">链接B</a>

		<!-- 脚部信息 -->
		<footer class="panel-footer">
			
			<div class="footSpan">
			
				<span>看山网络@Company LookMountain 2017-2027 IPC.RPC</span><br />
				<span>网络经营许可证:GB/S:ICA98547344-5484CT-448S</span><br />
				<span>地址:上海市54公路1708号</span><br />
				
			</div>
		</footer>
		</div>
		<!-- 脚部 over-->
		
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
