<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/forIndex.css" />
    <link rel="stylesheet" href="/css/orbit-1.3.0.css" />
    <link rel="stylesheet" href="/css/documentation.css" />

    <style>
        .menuRight{
            float: right;
            width: 400px;
            height: 600px;
            /*border: 1px solid red;*/
        }
        .menuLeft{
            float: left;
            width:550px;
        }
        .carouselArea img{
            width:400px;
            height: 300px;
        }
        .article {
            margin-bottom: 30px;
        }
        .aritcleImage{
            width:150px;
            height:150px;
        }
        .media-left{
            float: left;
        }
    </style>
</head>

<body>
<div th:include="frontCommon :: head"></div>

<!-- 主体 over -->
<div class="container">
    <!-- 左侧目录 -->
    <div class="menuLeft">
        <div th:each="hotArticle,aritcleStat : ${hotList}">
            <div class="article">
                <div class="articleTitle">
                    <a class="h2" th:text="'[顶]'+${hotArticle.articleTitle}" th:href="@{${hotArticle.articleUrl}}"></a>
                    <small th:text="${hotArticle.articleAlertTime}"></small>
                </div>
                <div class="articleContent">
                    <span th:text="${hotArticle.articleContentSub}"></span>
                </div>

            </div>
        </div>

        <div th:each="article,aritcleStat : ${articleList}">
            <div class="media article">

            <div class="media-body">
                    <div class="media-left" th:unless="${#lists.isEmpty(article.articleContentSubLink)}">
                        <a th:href="@{${article.articleUrl}}">
                            <img class="aritcleImage" th:src="@{${article.articleContentSubLink}}" />
                        </a>
                    </div>
                    <a class="h2 media-heading" th:text="${article.articleTitle}"
                       th:href="@{${article.articleUrl}}">
                        <small th:text="${article.articleAlertTime}"></small>
                    </a>

                <div class="articleContent">
                    <span th:text="${article.articleContentSub}"></span>
                </div>

            </div>
            </div>
        </div>

        <!-- 分页 -->
        <input type="hidden" id="pageSize" th:value="${pageSize}" />
        <input type="hidden" id="currentPage" th:value="${currentPage}" />
        <input type="hidden" id="totalPages" th:value="${totalPages}" />
        <div>
            <ul id="jqpaginator" class="pagination"></ul>
        </div>
    </div>

    <!-- 右侧信息 -->
    <div class="menuRight">
        <div class="carouselArea">
            <div id="featured">
                <a href="localhost:8009/article/20180412094022">
                <img src="/img/east.jpg" data-caption="#htmlCaption1" />
                </a>

                <a href="localhost:8009/article/20180412095919">
                <img src="/img/east2.jpg" data-caption="#htmlCaption2" />
                </a>

                <a href="localhost:8009/article/20180413093608">
                <img src="/img/03.jpg" data-caption="#htmlCaption3" />
                </a>
            </div>
            <!-- Captions for Orbit -->
            <span class="orbit-caption" id="htmlCaption1"><strong>1</strong></span>
            <span class="orbit-caption" id="htmlCaption2"><strong>2</strong></span>
            <span class="orbit-caption" id="htmlCaption3"><strong>3</strong></span>
        </div>
        <!--<div>-->
            <!--<h4>告示板</h4><br />-->
            <!--<span>这是一段用于测试的短语,无任何含义.这是一段用于测试的短语,无任何含义.</span>-->
        <!--</div>-->

        <button class="btn btn-info block" id="callAuthor">联系我</button><br />
        <button class="btn btn-info block" id="applyingLink">申请友链</button>

    </div>
</div>
<!-- 主体 over-->

<!-- 脚部 (应该导入) -->
<div th:include="frontCommon :: foot"></div>
<!-- 脚部 over-->

<!-- modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"  id="promptModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>
<div th:include="frontCommon :: myModal"></div>
<div th:include="frontCommon :: alertModal"></div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.orbit-1.3.0.js"></script>
<!--<script src="/js/jqpaginator.min.js"></script>-->
<script src="/js/bootstrap-paginator.js"></script>

<script>
    $(function () {
        $('#featured').orbit({
            advanceSpeed: 4000,//图片切换时间
            //timer:false,       //是否启动开始暂停功能
            //animation: 'fade', //动画效果：有fade（淡入）, horizontal-slide（垂直滑动）, vertical-slide（水平滑动）, horizontal-push, vertical-push
            captions: true,    //是否启用标题
            //captionAnimation: 'slideOpen',  //标题动画
            directionalNav: true,//是否启用上一页、下一页功能
        });
    });
    $(function () {

        $("#callAuthor").click(function () {
            alertModal("邮箱: autuan.yu@gmail.com");
        });
        $("#applyingLink").click(function () {
            $("#myModal").modal('show');
        });
    });
    function alertModal(content) {
//        $("#promptModal").modal('toggle');
//        $("#modalContent").text(content);
//        //定时器，1秒后关闭提示
//        setTimeout(function () {
//            $("#promptModal").modal('toggle');
//        },1000);
        $("#alertModal").modal('toggle');
        $("#alertContent").text(content);
        //定时器，1.5秒后关闭提示
        setTimeout(function () {
            $("#alertModal").modal('toggle');
        },1500);
    }
//    搜索功能
    $(function () {
        $("#searchBegin").click(function () {
            alertModal("此功能尚未完善");
        });
    });

//    登陆注册功能
    $(function () {
        $("#logInButton").click(function () {
           // 前台验证

           // ------------------------- -------------------------
           // 发送后台
            var logInUrl = "/login/login";
            var logInDate = {
                username : $("#username").val(),
                password : $("#password").val()
            };
            var logInCallback = function (obj) {
                var result = obj.describe;
                console.log(obj);
                console.log(result);
                if (result == "success") {
                    alertModal("成功!");
                // 丨→cookie 保存
                    $.cookie('autuanBlog',$("#username").val(),{expires:0.0007});
                // 刷新页面
                    reload();
                } else {
                    alertModal("失败!");
                }
            };
            $.post(logInUrl,logInDate,logInCallback,"json");
        });
    })
</script>

<!-- 搜索功能块 -->
<script>
    function search() {
        var query = $("#searchKey").val();
        var page = $("#page").val()
        if ( page == null ) {
            page = 1;
        }
        location = "localhost:8009/search?q="+query+"&page="+page;
    }

//    分页管理
    $(function () {
        function perspPageBar(id){
            $("#" + id).bootstrapPaginator({
                bootstrapMajorVersion: 3,　　// 指定Bootstrap的版本，默认是Boostrap2，如果你用的是Boostrap3，则必须指定该值。
                currentPage:currentPage,　　// 当前页码
                totalPages:totalPage,　　// 总页数
                numberOfPages: 5,　　// 显示页的数量
                useBootstrapTooltip: true,　　// 使用Bootstrap提示样式
                itemContainerClass: function (type, page, current) {　　// 应用鼠标的手型光标
                    return (page === current) ? "active" : "pointer-cursor";
                },
                onPageClicked: function(event, originalEvent, type,page){　　// 页面改变时事件
                    // do something
                    location = "/?pageNumber="+page;
                }
            });
        };

        var currentPage = $("#currentPage").val();
        var totalPage = $("#totalPages").val();
        perspPageBar("jqpaginator",currentPage,totalPage);

    })
</script>
</body>
</html>