<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="head">
    <nav class="navbar navbar-static-top navbar-default">
        <!--<div th:fragment="myHead">-->
        <div class="container">
            <div class="navbar-header">
                <!--<a class="navbar-brand" href="http://10.1.54.67:8082">-->
                    <!--<img src="img/logo-h-word.png" />-->
                <!--</a>-->
            </div>
            <div id="navbar">
                <div class="searchCenter">
                    <input type="text" id="searchKey" placeholder="search something in my blog..." class="form-control pull-left" name="searchKey" />
                    <button type="button" class="btn btn-info" id="searchBegin" onclick="search()">搜索</button>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
        <!--</div>-->
    </nav>
</div>

<div th:fragment="foot">
    <div class="container">
        <div class="friendUrl" id="friendUrl">
            <span>友情链接</span><br>
            <a href="#" class="friendLinkUrl">链接A</a>
            <a href="#" class="friendLinkUrl">链接B</a>

        </div>
        <!-- 脚部信息 -->
        <footer class="panel-footer">

            <div class="footSpan">

                <span>看山网络@Company LookMountain 2017-2027 IPC.RPC</span><br/>
                <span>网络经营许可证:GB/S:ICA98547344-5484CT-448S</span><br/>
                <span>地址:上海市54公路1708号</span><br/>

            </div>
        </footer>
    </div>
</div>

<div th:fragment="myModal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="chapterListUpload">友链申请</h4>
                </div>
                <div class="modal-body">
                    <h4>友链申请需知:</h4>
                    <span>1:请先添加我的链接</span><br>
                    <span>名称：autuan 的博客</span><br>
                    <span>简介：autuan 的 java 后端开发博客</span><br>
                    <span>URL：http://autuan.cn</span><br>
                    <span>邮箱：autuan.yu@gmail.com</span><br>
                    <span>2:留言板格式</span><br>
                    <span>名称：XXX (必填)</span><br>
                    <span>简介：XXXXXX</span><br>
                    <span>URL：http://(https://)XXXXXXX(必填)</span><br>
                    <span>邮箱：(必填)</span><br><br>
                    <span>输入你的信息:</span><br>
                    <form enctype="multipart/form-data" class="form-horizontal" role="form" id="newLinkForm">
                        <input type="hidden" name="FormRoleId" id="FormRoleId">
                        <div class="form-group">
                            <label for="linkName" class="col-sm-2 control-label">名称 * </label>
                            <div class="col-sm-10" id="linkName">
                                <input type="text" name="linkName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkSubContent" class="col-sm-2 control-label">简介 </label>
                            <div class="col-sm-10" id="linkSubContent">
                                <input type="text" name="linkSubContent">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkUrl" class="col-sm-2 control-label">URL * </label>
                            <div class="col-sm-10" id="linkUrl">
                                <input type="text" name="linkUrl">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkEmail" class="col-sm-2 control-label">邮箱 * </label>
                            <div class="col-sm-10" id="linkEmail">
                                <input type="text" name="linkEmail">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="linkQq" class="col-sm-2 control-label">QQ </label>
                            <div class="col-sm-10" id="linkQq">
                                <input type="text" name="linkQq">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary"  onClick="linkSubmit();">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<div th:fragment="alertModal">
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <!--<h4 class="modal-title" id="chapterListUpload"></h4>-->
                <!--</div>-->
                <div class="modal-body">
                    <form enctype="multipart/form-data" class="form-horizontal" role="form">
                        <div class="form-group">
                            <!--<label for="content" class="col-sm-2 control-label"> </label>-->
                            <div class="col-sm-10">
                                <!--<input type="text" name="" id="content">-->
                                <br><br><br>
                                <span id="alertContent"></span>
                                <br><br><br>
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                    <!--<button type="button" class="btn btn-primary"  onClick="roleSubmit();">提交更改</button>-->
                <!--</div>-->
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>

<div th:fragment="menuRight">
    <div class="menuRight">
        <div class="carouselArea">
            <div id="featured">
                <a href="localhost:8009/article/20180412094022">
                    <img src="/img/east.jpg" data-caption="#htmlCaption1" />
                </a>

                <a href="localhost:8009/article/20180412095919">
                    <img src="/img/east2.jpg" data-caption="#htmlCaption2" />
                </a>

                <a href="localhost:8009/article/20180413093608">
                    <img src="/img/03.jpg" data-caption="#htmlCaption3" />
                </a>
            </div>
            <!-- Captions for Orbit -->
            <span class="orbit-caption" id="htmlCaption1"><strong>1</strong></span>
            <span class="orbit-caption" id="htmlCaption2"><strong>2</strong></span>
            <span class="orbit-caption" id="htmlCaption3"><strong>3</strong></span>
        </div>
        <!--<div>-->
        <!--<h4>告示板</h4><br />-->
        <!--<span>这是一段用于测试的短语,无任何含义.这是一段用于测试的短语,无任何含义.</span>-->
        <!--</div>-->

        <button class="btn btn-info block" id="callAuthor">联系我</button><br />
        <button class="btn btn-info block" id="applyingLink">申请友链</button>

    </div>
</div>
</body>
</html>