<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<!-- 头部 (应该导入) -->
<nav class="navbar navbar-static-top navbar-default">
    <!--<div th:fragment="myHead">-->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://10.1.54.67:8082">
                    <img src="img/logo-h-word.png" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" id="searchForm">
                    <div class="form-group">
                        <input type="text" id="searchKey" placeholder="search something in my blog..." class="form-control" name="searchKey" />
                    </div>
                    <button type="button" class="btn btn-info" id="searchBegin" onclick="search()">搜索</button>
                </form>

                <form class="navbar-form navbar-right" id="logForm">
                    <div class="form-group">
                        <input type="text" placeholder="用户名" class="form-control" name="username" id="username"/>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" class="form-control" name="password" id="password"/>
                    </div>
                    <button type="button" class="btn btn-success" id="logInButton">登陆</button>
                    <button type="button" class="btn btn-info">注册</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    <!--</div>-->
</nav>

<!--Copyright © xiaomo Blog All Rights Reserved. 桂ICP备17003522号-1-->
<!-- 头部 over-->
</body>
</html>