
.navbar-header img{
    width: 40px;
    height: 50px;
    margin-top: -16px;
	border: none;
}

.footSpan{
                text-align: center;
}

/**
	搜索样式
 */

#searchKey{
	width:300px;
}
.searchCenter{
	margin-top: 5px;
}
.searchCenter input{
	margin-right: 5px;
}
/**
	搜索样式 over
 */
